{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Administración</h1>
    <hr class="my-4">  
    <p class="lead">Estás en modo admin, escoge las opciones sigueintes:</p>
    

    <div class="row">
        <div class="col-md-4">


    <hr class="my-1">  

    <div class="card card-body">
        <form action="#" method="POST">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Eliminar una tabla existente
                </button>
            </div>
        </form>
    </div>

    <hr class="my-1">  

    <div class="card card-body">
        <form action="/formcolumna">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Añadir nuevo campo a una tabla
                </button>
            </div>
        </form>
    </div>

        </div>
    </div>


</div>



{%endblock%}