{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card body">
        <form action="/actualizar" method="POST">
            <div class="form group">
                <input type="text" name="first_name_cj" placeholder="Primer nombre"
                class=form-control>
            </div>

            <div class="form group">
                <input type="text" name="edad_cj" placeholder="Edad"
                class=form-control>>
            </div>
            
            <div class="form group">
                <input type="text" name="phone_cj" placeholder="Telefono"
                class=form-control>
            </div>
            
            <div class="form group">
                <input type="text" name="salario_cj" placeholder="Salario"
                class=form-control>>
            </div>
            
            <div class="form group">
                <button type="submit" class="btn btn-sucess btn-block">
                    Confirmar modificación
                </button>
            </div>

        </form>   
    </div>
</div>

{%endblock%}