{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="\addcajero" method="POST">
                <div class="form group">
                    <input type="text" name="first_name_cj" placeholder="Primer nombre"
                    class="form.group">
                </div>
                
                <div class="form group">
                    <input type="text" name="edad_cj" placeholder="Edad"
                    class="form.group">
                </div>
    
                <div class="form group">
                    <input type="text" name="phone_cj" placeholder="Telefono"
                    class="form.group">
                </div>
                
                <div class="form group">
                    <input type="text" name="salario_cj" placeholder="Salario"
                    cass="form.group">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Añadir
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Edad</td>
                    <td>Telefono</td>
                    <td>Salario</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for cajero in CAJERO %}
                    <tr>
                        <td>{{ cajero.1 }}</td>
                        <td>{{ cajero.2 }}</td>
                        <td>{{ cajero.3 }}</td>
                        <td>{{ cajero.4 }}</td>
                        <td>
                            <a href="/editar/{{cajero.0}}" class="btn btn-secondary">Editar</a>
                            <a href="/eliminar/{{cajero.0}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{%endblock%}