{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="\addproducto" method="POST">
                <div class="form group">
                    <input type="text" name="Nom_prod" placeholder="Nombre del producto"
                    class="form.group">
                </div>
                
                <div class="form group">
                    <input type="text" name="precio" placeholder="Precio"
                    class="form.group">
                </div>
    
                <div class="form group">
                    <input type="text" name="cantidad" placeholder="Cantidad"
                    class="form.group">
                </div>
                                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Añadir
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Nombre del producto</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for producto in PRODUCTOS %}
                    <tr>
                        <td>{{ producto.1 }}</td>
                        <td>{{ producto.2 }}</td>
                        <td>{{ producto.3 }}</td>
                        <td>{{ producto.4 }}</td>
                        <td>
                            <a href="/editar/{{producto.0}}" class="btn btn-secondary">Editar</a>
                            <a href="/eliminar/{{producto.0}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{%endblock%}