{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="\addcolumna" method="POST">
                <div class="form group">
                    <input type="text" name="new_column" placeholder="Nombre de nueva columna"
                    class="form.group">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>



{%endblock%}