{% extends 'layout.html' %}

{% block body %}

        <div class="jumbotron">
            <h1 class="display-4">Supermercado Fresh Price</h1>
            <p class="lead">Sistema de gestión interno para empleados de nuestra cadena.</p>
            <hr class="my-4">
            
            <div class="row">

                <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">CAJEROS</h5>
                <p class="card-text">Esta sección está dedicara para agregar, modificar o eliminar cajeros.</p>
                <a href="/formcajero" class="btn btn-primary">Ver</a>
                </div>
            </div>
            </div>
                
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">PRODUCTOS</h5>
                <p class="card-text">Esta sección está dedicara para agregar, modificar o eliminar productos a la tienda.</p>
                <a href="/formproducto" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">PROVEEDORES</h5>
                <p class="card-text">Esta sección está dedicara para agregar, modificar o eliminar proveedores afiliados.</p>
                <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>

            </div>
        </div>
        </div>

{%endblock%}