{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Información</h1>
    <hr class="my-4">  
    <p class="lead">Universidad Interamericana de Panamá</p>
    <p class="lead">Carrera: Ingeniería en Sistemas Computacionales</p>
    <p class="lead">Asignación: Proyecto Final</p>
    <p class="lead">Materia: Base de Datos II</p>
    <p class="lead">Nombre del estudiante: Diego Martínez</p>
    <p class="lead">Profesor: Raúl Perez</p>
    <p class="lead">Fecha: Octubre 2020</p>
</div>

{%endblock%}